body{
	background-color: white;
	color: black;
}
h1{
	font-size:30px;
}
#qscreen {
display: none;
position: absolute;
top: 0px;
left: 0px;
height: 10000px;
width: 100%;
background: white;
z-index: 999;
text-align: center;
}
#qscreen p { padding: 0 10% 0 10%; }